*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Comfortaa", cursive;
}

body {
    display: flex;
    justify-content: center;
}

.main-part {
    max-width: 1280px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    border-radius: 20px;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 0 0 20px 8px #f1f1f1;
}

.header {
    margin-bottom: 20px;
}

.header-list {
    display: flex;
}

.header-item {
    list-style: none;
    margin-left: 20px;
    transition: all 0.5s;
}

.header-item:first-child {
    margin-left: 0px;
}

.header-link {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.header-item:hover, .header-item:focus {
    transform: scale(1.1);
    transition: all 0.5s;
    border-bottom: 1px solid gray;
}

.reg-channel {
    margin-bottom: 20px;
}

.reg-line {
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.reg-labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.reg-checkbox {
    margin-bottom: 15px;
}

.reg-label {
    margin-bottom: 5px;
}

.reg-input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 20px 8px #f1f1f1;
}

.create-button {
    position: relative;
    padding: 8px 14px;
    font-weight: bold;
    text-transform: uppercase; 
    cursor: pointer;
    border: 2px solid #BFE2FF;
    outline: 1px solid;
    outline-color: #337AB7;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);  
}

.create-button:hover,
.create-button:active,
.create-button:focus {
    box-shadow: inset 0 0 20px #BFE2FF;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.list-channel {
    margin-bottom: 20px;
}

.list-head {
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.list-item {
    list-style: none;
}

.list-heading {
    font-size: 16px;
    margin-bottom: 2px;
}

.list-des {
    margin-bottom: 5px;
}

.text-description {
    max-width: 650px;
}

.button-swap {
    text-decoration: none;
    color: rgb(0, 180, 0);
}

.button-swap:focus, .button-swap:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}